body {
  font-family: 'Overpass', 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
}

main .rating {
  background-color: hsl(213, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 380px;
  width: 340px;
  border-radius: 30px;
  padding: 0 30px;
}

main .rating .star {
  border-radius: 30px;
  width: 15px;
  height: 15px;
  padding: 15px;
  background-color: hsl(213, 19%, 21%);
}

main .rating h1 {
  color: hsl(0, 0%, 100%);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 26px;
}

main .rating p {
  color: hsl(217, 12%, 63%);
  margin-top: 0;
  line-height: 1.5;
  font-size: 15px;
}

main .rating .rating-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

main .rating .rating-buttons .rating-btn {
  background-color: hsl(213, 19%, 21%);
  color: hsl(217, 12%, 63%);
  border-color: transparent;
  font-size: 15px;
  font-weight: 700;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .rating .rating-buttons .rating-btn:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(25, 97%, 53%);
}

main .rating .rating-buttons .rating-btn:focus {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

main .rating .rating-buttons .rating-btn.selected {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}

main .rating .submit-btn {
  font-family: 'Overpass', 'Poppins', sans-serif;
  height: 45px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
  border-color: transparent;
  color: hsl(0, 0%, 0%);
  background-color: hsl(25, 97%, 53%);
  letter-spacing: 0.13em;
  cursor: pointer;
}

main .rating .submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
}

main .thanks {
  display: none;
  background-color: hsl(213, 19%, 18%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 340px;
  border-radius: 30px;
  padding: 0 30px;
}

main .thanks .img-thanks {
  width: 150px;
  height: 100px;
  margin: 30px 0;
}

main .thanks .your-rating {
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 19%, 21%);
  padding: 10px 15px 6px;
  border-radius: 30px;
  margin: 0 0 30px 0;
}

main .thanks h1 {
  color: hsl(0, 0%, 100%);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
}

main .thanks .message {
  color: hsl(217, 12%, 63%);
  margin-top: 0;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 20px;
  font-size: 12px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

footer a {
  color: hsl(228, 45%, 44%);
}

footer a:hover {
  color: hsl(228, 45%, 64%);
}

@media (max-width: 768px) {
  main .rating {
    padding-bottom: 10px;
    width: 310px;
  }

  main .thanks {
    width: 310px;
    padding-bottom: 10px;
  }
}